.embla {
  overflow: hidden;
}
html, body {
  overflow-x: hidden;
}

.embla__container {
  display: flex;
  backface-visibility: hidden;
}

.embla__slide {
  flex: 0 0 auto;
  min-width: 0;
  position: relative;
}

#work{
  scroll-margin-top: 30px;
}
#talk{
  scroll-margin-top: 1000px;
}
#overview, #problem, #approach, #outcome{
  scroll-margin-top: 50px;
}

html{
  scroll-behavior: smooth;
}