@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', 'Hiragino Kaku Gothic Std', 'Proxima Nova', 'Convergence', system-ui, -apple-system, sans-serif;
  }
}

.chat-sticker-mb{
  position: absolute;
      left: -40px;
      top: -40px;
      z-Index: 11;
      transform: rotate(-12deg) translateY(10%) translateY(-10%);
      cursor: pointer;
      transition: transform 0.3s ease;
}
@media (min-width: 640px) {
.chat-sticker-mb{
  position: absolute;
      left: -20px;
      top: -40px;
      z-Index: 11;
      transform: rotate(-12deg) translateY(10%) translateY(-10%);
      cursor: pointer;
      transition: transform 0.3s ease;
}
}

/* Medium screens (md): min-width 768px */
@media (min-width: 768px) {
  /* Styles for md and above */
}

@media (min-width: 1024px) {
  .chat-sticker{
  position: absolute;
      left: -65px;
      bottom: -10px;
      z-Index: 11;
      transform: rotate(-12deg) translateY(10%) translateY(-10%);
      cursor: pointer;
      transition: transform 0.3s ease;
}
}
@media (min-width: 1280px) {
  .chat-sticker{
  position: absolute;
      left: -60px;
      bottom: 0px;
      z-Index: 11;
      transform: rotate(-12deg) translateY(10%) translateY(-10%);
      cursor: pointer;
      transition: transform 0.3s ease;
}
}

/* Tailwind's 2xl breakpoint: min-width 1536px */
@media (min-width: 1536px) {
  .chat-sticker{
  position: absolute;
      left: -100px;
      bottom: 77px;
      z-Index: 11;
      transform: rotate(-12deg) translateY(10%) translateY(-10%);
      cursor: pointer;
      transition: transform 0.3s ease;
}
}
@media (min-width: 1600px) {
  .top-mar{
  margin-top: 80px;
}
}

/* Font-specific classes */
.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-hiragino {
  font-family: 'Hiragino Kaku Gothic Std', sans-serif;
}

.font-proxima {
  font-family: 'Proxima Nova', sans-serif;
}

.font-convergence {
  font-family: 'Convergence', sans-serif;
}
.frosted-card {
  position: relative;
  border-radius: 40px;
  overflow: hidden;
  padding: 30px;
  color: white;
  background: linear-gradient(180deg, rgba(231, 64, 235, 0.15), rgba(59, 25, 156, 0.15));
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.frosted-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1px;
  background: linear-gradient(180deg, #E740EB, #3B199C);
  border-radius: 40px;
  z-index: -1;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
}
#project1-footer {
  background-image: url("assets/images/project1-footer.png");
  background-size: 200px;
}